{% extends "core/base_layout.html" %}
{% load static %}
{% block body %}
  <div class="">
    <h2 class="text-3xl font-bold mb-4 text-gray-700">Edit Hospital Details</h2>

    <div class="bg-white shadow-md rounded-lg px-8 py-6 flex justify-start">
      <form method="post" class="space-y-6 w-full max-w-3xl">
        {% csrf_token %}

        <!-- Hospital Name (Full Row) -->
        <div class="mb-4">
          {{ form.name.label_tag }}
          {{ form.name }}
          {% if form.name.errors %}
              <p class="text-red-600 text-sm">{{ form.name.errors }}</p>
          {% endif %}
        </div>

        <!-- Physical Address (Full Row) -->
        <div class="mb-4">
          {{ form.physical_address.label_tag }}
          {{ form.physical_address }}
          {% if form.physical_address.errors %}
              <p class="text-red-600 text-sm">{{ form.physical_address.errors }}</p>
          {% endif %}
        </div>

        <!-- City and State (Two fields on one row) -->
        <div class="mb-4 flex space-x-4">
          <div class="w-1/2">
            {{ form.city.label_tag }}
            {{ form.city }}
            {% if form.city.errors %}
                <p class="text-red-600 text-sm">{{ form.city.errors }}</p>
            {% endif %}
          </div>
          <div class="w-1/2">
            {{ form.state.label_tag }}
            {{ form.state }}
            {% if form.state.errors %}
                <p class="text-red-600 text-sm">{{ form.state.errors }}</p>
            {% endif %}
          </div>
        </div>

        <!-- Country (Full Row) -->
        <div class="mb-4">
          {{ form.country.label_tag }}
          {{ form.country }}
          {% if form.country.errors %}
              <p class="text-red-600 text-sm">{{ form.country.errors }}</p>
          {% endif %}
        </div>

        <!-- Submit Button at the bottom left -->
        <div class="flex justify-start">
          <button type="submit" class="bg-green-500 text-white font-semibold py-2 px-6 rounded-lg shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50">
            Update Hospital
          </button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
{% block extra_js %}
<script src="{% static 'js/dashboard.js' %}" defer></script>
{% endblock %}